.navbar {
    display:flex;
    width: 200px; 
    height: 100vh;
    margin-left: 100px;
    overflow: auto;  /* Add a scrollbar if the content is too long */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #ece58a;
}

.navbar li a {
    padding: 20px 16px;
    text-decoration: none;
    color: #ece58a;
    display: block;
    font-size: 23px;
}

.navbar li a:hover {
    color: #edeac2;
}
