.app-container {
  display: flex;
  flex-direction: column;
}

.centre-container {
  display: flex;
  flex-direction: row;
}

body{
  background-image: url('./assets/newyorknight.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
