@import 'fonts/fonts.css';

.app-container {
  display: flex;
  flex-direction: column;
}

.centre-container {
  display: flex;
  flex-direction: row;
}

body{
  background-image: url('./assets/newyorknight.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Soleil-Light';
}

h1 h2 h3 h4 h5 h6{
  font-family: 'Soleil';
}
