.navbar {
    display:flex;
    top: 220px;
    left: 90px;
    width: 200px; 
    height: 100vh;
    padding: 20px;
    overflow: auto;  /* Add a scrollbar if the content is too long */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar li {
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 30px;
}

.navbar li:hover {
    background-color: #111;
}

.navbar li a:visited {
    color: rgb(236, 229, 138);  /* Set the color of visited links */
}